{% extends "base.html.twig" %}

{% block body %}

{{form_start(formulaire)}}

{{form_widget(formulaire)}}
{% if vrai == true %}
<button type="submit">Modifier</button>
{% else %}
<button type="submit">Ajouter</button>
{% endif %}


{{form_end(formulaire)}}
{% endblock %}